.hidden{
display: none;
}

.warning{
    max-width: 80vw;
    background-color: white;
    padding: 2vw;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.674);
    position: absolute;
    right:7vw;
    font-size: 1.25em;
}

.Settings{
    background-color: white;
    width:90vw;
    margin:0 auto;
    height:93vh;
    padding-left: 2vw;
}
.title{
    text-align: center;
    margin-left: 34vw;;
}

.names label{
    color:rgb(81, 80, 80);
}

.name{
    margin:0 0 2vh 3vw;
    padding: 1vw;
    width:60vw;
}

.save{
    margin-left: 2.5vw;
    border: none;
    width: 87vw;
    padding: 1vw;
    border-radius: 1vw;
}

.heading{
    display: flex;
    align-items: center;

}

.heading svg{
    color:black;
}

.moreSettings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5vw;
}

.socials{
    color:black;
    display:inline;
    justify-content: space-around
}

.logOut{
    border: none;
    width: 87vw;
    padding: 2vw;
    margin-left: 2.5vw;
    margin-top: 4vh;
}