
#Create{
    height: 100%;
    padding-top: 1vh;

   }

#planMaker{
    background-color: white;
     min-height: 90%;
     width:100vw;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 5vw;
   }

   #newAction{
    width:70vw;
    margin-left: 5vw;
    margin-top: 3vh;
    padding-top: 5vh;
    background-color: white;
    border: none;
    display: list-item;
    font-size: 1.25rem;
   }

   #newAction{
    outline:none;
   }

   li::marker{
    font-size: 1.75rem;
   }

   #newAction:active{
    border: none;
   }

   .planName{
    margin-left: 10vw;
    color:white;

   }
    
   /* .planName{
    margin-left: 4vw;
    padding-top: 3vh;
    font-size: 1.75rem;
    height: 3vh;
    max-width: 50vw;
    
   } */
   

   .line{
    width:90%;
   }

   .toDoTasks{
    font-size: 1.25rem;
    margin:5vw;
   }

   .toDoTasks input{
    margin-right: 3vw;
   }

