.navbar{
    width:100vw;
    height:9vh;
    position: fixed;
    bottom:0;
    background-color: black;
    color: rgb(180, 172, 187);
    z-index: 2;

    
}

.navIcons{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 1vh;
    text-align: center;
    
}

.navLinks{
    text-decoration: none;
    color:  rgb(180, 172, 187);
   
}

.navLinks:hover{
    color:rgba(9, 159, 254);
}

@media only screen and (min-width: 800px) {
   
   .navbar{
    display: flex;
    justify-content: center;
   }
   .navIcon{
    padding-left:150px;
    padding-right:150px;
   }
  }

