.accountBox{
    background-color: white;
    width:90vw;
    height:75vh;
    margin:0 auto;
    text-align: center;
    align-content: center;
   border-radius: 5vw;
   
}

#illustration{
  
  margin:0 auto;
  max-height: 30vh;
 
    
}

.accountPage{
    padding-top: 5vh;

}

.google{
    margin-left:20vw;
    margin-right: 20vw;
    margin-bottom: 18vh;
    
}